@using NopFramework.Web.Framework.UI
@using NopFramework.Core.Infrastructure
@using NopFramework.Web.Framework
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<NopFramework.Core.Domains.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<NopFramework.Core.Domains.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = "计划任务";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Schedule tasks");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">计划任务</h1>
        @*@Html.Action("List", "cheduleTask")*@
        @*@Html.ActionLink("Link", "List")*@
        <div class="pull-right">
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                删除选择
            </button>
            <button type="submit" id="delete-all" name="delete-all" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                删除所有
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            <strong>修改后需要重启商城生效</strong>
                        </p>
                        <div id="schedule-tasks-grid"></div>
                        <script>
                            $(document).ready(function () {
                                $("#schedule-tasks-grid").kendoGrid({
                                   dataSource:{
                                    type:"json",
                                    transport:{
                                        read:{
                                            url:"@Html.Raw(Url.Action("List", "ScheduleTask"))",
                                            type:"POST",
                                            dataType:"json",
                                            data: addAntiForgeryToken
                                        },
                                        update: {
                                            url: "@Html.Raw(Url.Action("TaskUpdate", "ScheduleTask"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema:{
                                        data:"Data",
                                        total:"Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            fields: {
                                                Name: { editable: true, type: "string" },
                                                Seconds: { editable: true, type: "number" },
                                                Enabled: { editable: true, type: "boolean" },
                                                StopOnError: { editable: true, type: "boolean" },
                                                LastStart: { editable: false, type: "date" },
                                                LastEnd: { editable: false, type: "date" },
                                                LastSuccess: { editable: false, type: "date" },
                                                Id: { editable: false, type: "number" }
                                            }
                                        }
                                    },
                                    error:function(e){
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize:@(defaultGridPageSize),
                                    serverPaging:true,
                                    serverFiltering:true,
                                    serverSorting:true
                                },
                                     pageable: {
                                    refresh: true,
                                    pageSizes:  [@(gridPageSizes)],
                                    buttonCount: 5,
                                    messages: {
                                        display: "显示{0}-{1}条，共{2}条",
                                        empty: "没有数据",
                                        page: "页",
                                        of: "/ {0}",
                                        itemsPerPage: "条/页",
                                        first: "第一页",
                                        previous: "前一页",
                                        next: "下一页",
                                        last: "最后一页",
                                        refresh: "刷新"
                                    }
                                   },
                                     scrollable: false,
                                     editable: {
                                         confirmation: "确认删除",
                                         mode: "inline"
                                     },
                                 columns: [
                                         {
                                             field: "Id",
                                             headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                             headerAttributes: { style: "text-align:center" },
                                             attributes: { style: "text-align:center" },
                                             template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                             width: 50
                                         }, {
                                             field: "Id",
                                             title: "队列中的ID",
                                             width: 150
                                         },
                                         {
                                             field: "Name",
                                             title: "名称",
                                             width: 150
                                         },
                                         {
                                             field: "Seconds",
                                             title: "时间间隔",
                                             width: 150
                                         },
                                         {
                                             field: "Enabled",
                                             title: "已启用",
                                             width: 100,
                                             headerAttributes: { style: "text-align:center" },
                                             attributes: { style: "text-align:center" },
                                             template:'#if(Enabled){#<i class="fa fa-check true-icon"></i>#}else{#<i class="fa fa-close false-icon"></i>#}#'
                                         },
                                         {
                                             field: "LastEnd",
                                             title: "最后开始日期",
                                             width: 150,
                                             format: "{0:G}"
                                         },
                                         {
                                             fiele: "Id",
                                             title: "立即运行",
                                             width: 150,
                                             //headerAttributes: { style: "text-align:center" },
                                             //attributes: { style: "text-align:center" },
                                             //template: '<a href="RunNow/#=Id#" class="btn bg-green">立即运行</a>'
                                             template:'<a href="@Url.Content("~/ScheduleTask/RunNow/")#=Id#" class="btn bg-green">立即运行</a>'
                                             @*template: '<a href="@Url.Action("RunNow/")#=Id#" class="btn bg-green">立即运行</a>'*@
                                             @*template:'@Html.ActionLink("RunNow", "RunNow",new { id =2})'*@
                                             @*template: '@Html.Action("RunNow",new { id=8})',
                                             @Html.ActionLink()*@
                                         },
                                         {
                                             command: [
                                                 {
                                                     name: "edit",
                                                     text: {
                                                         edit: "编辑",
                                                         update: "更新",
                                                         cancel: "取消"
                                                     }
                                                 }
                                             ],
                                             width: 200
                                         }
                                     ]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </div>
                                                  }